#projects.content.active{
   display: block;
   padding: 0.7rem;
}

#projects h2{
    align-items: center;
    font-size: 2.5rem;
}

#projects h2 span{
    color: var(--red);

}

.project{
    display: flex;
    flex-direction: column-reverse;
    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
    gap: 2rem;
   
}

.project-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.project-info h3{
    font-size: 5rem;
    -webkit-text-stroke: 1px var(--white);
    color: transparent;

}

.project-info h4{
    font-size: 3rem;
}

.project-info p{
    font-size: 1.3rem;
    text-align: justify;
}

.tech-stack{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.7rem;
    color: var(--red);
    font-size: 1.3rem;
    font-weight: 500;
    
}

.links{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 1rem;
}

.links a, .arrows a{
   text-decoration: none;
   color: var(--red);
   border: 2px solid var(--red);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   overflow: hidden;
   width: 45px;
   height: 45px;
   transition: all linear 0.3s;
}

.links a:hover , .arrows a:hover{
    background: var(--red);
    color: var(--primary);
    box-shadow: 2px 2px 2px var(--red),
    -2px 2px 2px var(--red),
    2px -2px 2px var(--red),
    -2px -2px 2px var(--red);
}
.links a:first-child{
    rotate: -45deg;
} 

.links a:first-child:hover{
    rotate: 0deg;

}

.links a i , .arrows a i{
    font-size: 1.5rem;

}
.carousel{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    
}

.carousel img{
   margin-top: 1rem;
   width: 100%;
   border-radius: 10px;

}

.arrows{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    align-self: center;

}
.disabled-btn{
    color: var(--disabled)!important;
    border-color: var(--disabled)!important;
    pointer-events: none;
    opacity: 0.5;

}

.disabled-btn:hover{
    box-shadow: none;
    background: none;
    cursor: auto;
}

@media screen and (width >=768px){
    #projects h2{
       font-size: 2.5rem;
       
    }
}

@media screen and (width >=1024px){
    .project{
       /* flex-direction: row; */
       /* display: grid;
       grid-template-columns: repeat(1, 2fr); */
       gap: 2rem;
    }

    #projects h2{        
        font-size: 3rem;
    }

    .carousel{
       place-items: end;

    }
 
    .carousel img{
        width: 100%;
    } 

    /* .project-info{
       
        
    } 
    */
} 
