#services.content.active{
    width: 100%;
    max-width: 100%;
    margin: 2rem auto;
}

#services h2{
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
}

#services h2 span{
    color: var(--red);
}

.service-list{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 2rem;
  place-items: center;
  padding: 1rem;
}

.box{
    background: var(--secondary);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 1rem;
    width: 100%;
    height: 100%;
    max-width: 450px;
    border: 3px solid transparent;
    transition: all linear 0.3s;

}

.box:hover{
    border-color: var(--red);
    cursor: pointer;
    box-shadow: -5px 5px 5px var(--red),
     5px -5px 5px var(--red),
     -5px -5px 5px var(--red),
    5px 5px 5px var(--red);

}

.head-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-icons span{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--primary);
    border-radius: 50%;
    transform: rotate(-45deg);
    transition: all linear 0.3s;
  
}

.head-icons span:hover{
    background-color: var(--red);
    transform: rotate(-90deg);
}

.head-icons i{
    font-size: 2rem;
    font-weight: 900;
}

.head-icons span{
    font-size: 1.6rem;
    font-weight: 900;
}

.box h3{
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--red);
    text-align: center;

}

.spacer{
    flex-grow: 1;
}

.box p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;

}

@media screen and (width >=768px){
    #services h2{
        font-size: 4rem;
    }
   
    .service-list{
        grid-template-columns: repeat(2,1fr) ;
       
    }
    
    .box h3{
        text-align: left;
    }


}

@media screen and (width >=1024px) {
    .service-list{
        grid-template-columns: repeat(3,1fr);
    }

    .box h3{
        font-size: 1.8rem;
    }

    .box p{
        font-size: 1.2rem;
    }
}