@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --primary: #030a16;
    --secondary: #323946;
    --disabled: #fff3;
    --green:rgb(5, 250, 25);
    --red: #7CF03D;
    --white:#fff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ancizer Serif", serif;
}

body,html{
    background: var(--primary);
    color: var(--white);
    min-height: 100dvh;
    overflow-x: hidden ;
    transition: all 3s ease-in;

}

body .no-scroll{
    height: 100dvh;
    overflow :hidden;
}

.main-container{
    max-width: 700px;
    padding: 1rem;
    margin: 0 auto;

}

header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: relative;
    margin: 1rem 0;

}

.brand-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand-info img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.brand-info h2{
 font-size: 1.7rem;
 font-weight: 700;
}

#menu-toggle{
    display: none;
}

.menu-icon{
    font-size: 2rem;
    cursor: pointer;
}

#overlay{
    display: none;
    opacity: 0;
    pointer-events:none;
    z-index: 1000;

}
#menu-toggle:checked ~ #overlay{
    display: block;
    position: fixed;
    inset: 0;
    top: 7rem;
    height: 100dvh;
    background: var(--primary);
    opacity: 1;
    pointer-events: none;

}
 nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.3rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 2rem 0;
    z-index: 1000;
    transform: translateX(150%);
    transition: all 0.4s ease-in ;
  
 }

 #menu-toggle:checked~nav{
    transform: translateX(0%);

 }

 nav a{
    padding: 0.8rem;
    font-size: 1.4rem;
    border: 5px solid var(--secondary);
    border-radius: 10px;
    text-decoration: none;
    color: var(--white);
    opacity: 0;
    transform: translateX(150%);
    transition: all 0.4s ease-in ;
 }

 #menu-toggle:checked ~ nav a{
    transform: translateX(0%);
    opacity:1;
    transition-delay: calc(var(--i)*0.2s);
 }

 .navlink.active{
    color: var(--red);


 }

 .content{
    display: none;
 }

 .content.active{
    display: block;

 }
 
 @media screen and (width >= 1024px){
    .main-container{
        max-width:950px;
    }

    header{
        position: static;
    }

    .brand-info{
        gap: 20px;
    }

    .brand-info img{
       width: 90px;
       height: 90px;

    }

    #menu-toggle{
        pointer-events: none;
    }

    .menu-icon{
        display: none;

    }

    nav{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        position: static;
        transform: translateX(0%);
    }

    nav a{
        padding: 0;
        font-size: 1.5rem;
        border: none;
        opacity: 1;
        transform: translateX(0%); 
    }

    nav a:hover{
        color: var(--red);

    }
    
 } 

 @media  screen and (width >=1250px) {
    .main-container{
     min-width : 1200px;
     height: 100px;
    }

    .brand-info{
        font-size: 3rem;
    }

    nav{
      gap: 2.5rem;
      font-size: 2rem;

    }
    
 }